.main {
  background-color: #81cfe0;
  width: 75%;
}

.tabs-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-center;
  flex-grow: 1;
  padding: 10px 10px;
}

.main-tabs {
  font-size: 1.2em;
  font-weight: bold;
}

.main-form {
  min-height: 50vh;
  margin-top: 50px;
}

.submit-button {
    background: #f9690e;
    margin: auto;
    font-weight: bolder;
    color: white;
    font-size: 2em;
    margin-top: 1em;
    padding: 0 2em;
}
