.main {
  background-color: #81cfe0;
  width: 150vh;
}

.tabs-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-center;
  flex-grow: 1;
  padding: 10px 10px;
}

.main-form {
  margin: 5vh 0;
}
