
.main{
  background-color: #81cfe0;
  flex-grow: 1;
  width: 120vh;
  display: flex;
  flex-direction: column;
}

.tabs-box{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px 10px;
}
